body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background_site.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group {
    display: block;
    margin-bottom: 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #ffffff;
}

label, input, button, p {
    margin-top: 10px;
    font-size: 16px;
}

input, button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ffffff;
}

thead {
    background-color: #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #555;
}

tbody tr:nth-child(even) {
    background-color: #777;
}

th {
    color: #ffffff;
}

td {
    color: #dddddd;
}
